.wrapper
  .top-header
    .site-logo
    .site-nav-wrap    
  = link_to project_posts_path, class: "header-projectButton" do
    プロジェクト
  = link_to start_posts_path, class: "header-startButton" do
    スタート
  = link_to mypage_posts_path, class: "header-mypageButton" do
    マイページ
  .top-main
    %h1 Routine -習慣を手に入れよう-
    %p 
  .site-nav-wrap