コンセプト


習慣化に要する日数は
実験の結果、習慣化に要する日数は、平均66日だとわかりました。

しかし、この日数には、当然バラツキが大きいため、この数字だけを鵜呑みにしてはダメ。

被験者の特性や行為の難易度によって、18日しかかからなかった場合もあれば、66日よりはるかに長い254日もかかった場合もあります。

当然といえば当然ですが、複雑な行為ほど習慣化には時間がかかります。
こんな人におすすめ


習慣化のポイント
習慣化のポイントをまとめると、次のようになります。

複雑なものより、簡単にできる小さなノルマから始める
2日以上はサボらないようにする
とりあえず、66日間は続けてみる


