.wrapper-start
  .header-start
  .main-start
    .containar
      .containar__icon
        = image_tag 'growth.png', class: 'containar__icon--growth'
      = render partial: "category"


  .footer-start
